* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.light {
  --background-color: #f0f0f0;
  --container-color: #bbdefb;
  --box-shadow-color-1: rgba(0, 0, 0, 0.6);
  --box-shadow-color-2: rgba(0, 0, 0, 0.5);
  --box-shadow-color-3: rgba(10, 37, 64, 0.5);
  --header-color: #42a5f5;
  --list-background-color: #e3f2fd;
  --text-color: #ffff;
  --font-color: #000000;
  --border-secondary: #bbdefb;
  --font-color: #000000;
}
.dark {
  --background-color: #2a2c2d;
  --container-color: #616161;
  --header-color: #fafafa;
  --text-color: #000000;
  --font-color: #ffffff;
  --box-shadow-color-1: rgba(255, 255, 255, 0.6);
  --box-shadow-color-2: rgba(238, 238, 238, 0.5);
  --box-shadow-color-3: rgba(189, 189, 189, 0.25);
  --list-background-color: #bdbdbd;
  --border-secondary: #212121;
  --font-color: #ffffff;
}
body {
  background-color: var(--background-color);
}

/* theme-switcher  */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background-color: #f4f6f7;
  /* background-repeat: no-repeat;
  background-position: center; */
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  /* background: white url("https://i.ibb.co/7JfqXxB/sunny.png"); */
  background-color: #f4f6f7;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main-container {
  max-width: 80vw;
  margin-inline: auto;
  background-color: var(--container-color);
  padding: 16px;
  box-shadow: var(--box-shadow-color-1) 0px 50px 100px -20px,
    var(--box-shadow-color-2) 0px 30px 60px -30px,
    var(--box-shadow-color-3) 0px -2px 6px 0px inset;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 8px;
  background-color: var(--header-color);
  margin-bottom: 20px;
  border-radius: 8px;
}

.theme-switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.logo > i {
  font-size: 32px;
}

h1 {
  font-size: 38px;
  color: var(--text-color);
}

.add-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  overflow: scroll;
}

.add-container > input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  flex: 2;
  color: var(--font-color);
  min-height: 24px;
  background-color: var(--background-color);
}

#date {
  width: 100%;
  flex: 0.5;
  border: 0;
  outline: 0;
  padding: 8px;
  min-height: 24px;
}

.add-container > input:focus {
  border: 2px solid #0080ff;
}

.add-todo {
  padding: 10px;
  background-color: #2962ff;
  border: 0;
  border-radius: 8px;
  color: #fff;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.actionButton {
  border: 0;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--font-color);
}

.actionButton > span {
  margin-left: 4px;
  font-size: 14px;
}

.actionButton.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  min-height: 70vh;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 8px;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--list-background-color);
  margin-bottom: 12px;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.list-item.slide-in {
  animation-name: slideInFromLeft;
}

.list-item.slide-out {
  animation-name: slideOutToRight;
}

.list-input {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}
.list-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.list-check {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.list-value {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
}

.list-value:focus {
  border: 1px solid #0080ff;
  border-radius: 4px;
}

.list-date {
  border: 1px solid var(--border-secondary);
  outline: 0;
  width: 30%;
  background-color: transparent;
  padding: 8px;
  border-radius: 4px;
}

.list-date:focus {
  border: 1px solid #0080ff;
  border-radius: 4px;
}

.fa-trash {
  color: #f50057;
}

h5 {
  cursor: pointer;
}

.centered-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style-type: none;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.centered-item.slide-in {
  animation-name: slideInFromLeft;
}

.centered-item.slide-out {
  animation-name: slideOutToRight;
}

.centered-item img {
  max-width: 100%;
  height: auto;
}

.edit[title]::after {
  content: attr(title);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  top: -5px;
  right: 0;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  font-size: 12px;
}

.edit.show-tooltip[title]::after {
  opacity: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.prev {
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 6px;
  border-radius: 8px;
  background-color: #fff;
}

.next {
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 6px;
  border-radius: 8px;
  background-color: #fff;
}

.next.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.prev.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.prev:hover {
  background-color: #e3f2fd;
}

.next:hover {
  background-color: #e3f2fd;
}

.page {
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 16px;
  height: 30px;
  width: 30px;
  padding: 4px;
  border-radius: 50%;
  background-color: #fff;
}
.page:hover {
  background-color: #e3f2fd;
}

.page.active {
  background-color: #42a5f5;
}

.page > span {
  pointer-events: none;
  text-align: center;
}

/* filter model */

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 8px;
}

.filter-container > label {
  width: 5%;
}

.filter-header {
  color: var(--font-color);
}

.filter-container > label {
  color: var(--font-color);
}

#filter-date {
  border: 1px solid #bbdefb;
  outline: 0;
  background-color: transparent;
  padding: 8px;
  width: 40%;
  min-height: 25px;
  border-radius: 4px;
  color: var(--font-color);
}

#filter-date:focus {
  border: 1px solid #0080ff;
  border-radius: 4px;
}

#filter-text {
  border: 1px solid #bbdefb;
  outline: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;
  min-height: 25px;
  background-color: transparent;
  padding: 8px;
  color: var(--font-color);
  border-radius: 4px;
}

#filter-text:focus {
  border: 1px solid #0080ff;
  border-radius: 4px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--background-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--font-color);
  text-decoration: none;
  cursor: pointer;
}

#apply-filter {
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  background-color: #bbdefb;
  margin-top: 20px;
  margin-bottom: 20px;
}

#apply-filter:hover {
  background-color: #e3f2fd;
}

input[type="date"] {
  -webkit-appearance: none;
}

/* animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
  .main-container {
    max-width: 90vw;
  }
  .list-date {
    width: 100%;
  }

  .add-container > input {
    width: 100%;
    flex: 0.6;
  }

  #date {
    width: 100%;
    flex: 0.4;
    font-size: 14px;
  }
  .filter-container {
    flex-direction: column;
  }
  .filter-container > label {
    width: 100%;
  }
  #filter-text {
    margin-top: 0px;
    width: 100%;
  }
  #filter-date {
    margin-bottom: 20px;
    width: 100%;
  }
}
